* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic ', 'Arial Narrow', Arial, sans-serif, monospace;
    background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/1691099b-ff71-4321-bd54-1bba46b0886b/f9a8cc08-aa7a-4b59-a7fc-318620935764/BR-pt-20220228-popsignuptwoweeks-perspective_alpha_website_large.jpg");
    background-size: cover;
    background-position: top center;
}

#header {
    background-color: rgba(0, 0, 0, 0.5);
}

#header div {
    width: 90%;
    display: flex;
    justify-content: space-between;  
    margin: 0 auto;        
}

#header h1 {
    padding: 20px 0;
    font-size: 32px;
}

#header a {
    color: #e50914;
    text-decoration: none;
}

#header .h1-entrar {
    text-transform: capitalize;
}

#header button {
    padding: 5px 15px;
    font-size: 18px;
    color: #fff;
    background: #e50914;
    border: 2px solid #e50914;
    border-radius: 5px;
    cursor: pointer;
}